@model Bioterio.Models.Tipoestatutogenetico

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipoestatutogenetico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoEstatutoGeneticocol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoEstatutoGeneticocol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTipoEstatutoGenetico">Edit</a> |
    <a type="button" class="btn btn-info" asp-action="Index">Voltar à listagem</a>
</div>
