@model Bioterio.Models.Tipoestatutogenetico

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Tipoestatutogenetico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTipoEstatutoGenetico" />
            <div class="form-group">
                <label asp-for="TipoEstatutoGeneticocol" class="control-label"></label>
                <input asp-for="TipoEstatutoGeneticocol" class="form-control" />
                <span asp-validation-for="TipoEstatutoGeneticocol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submeter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-info" asp-action="Index">Voltar à listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
