@model IEnumerable<Bioterio.Models.Tipoestatutogenetico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Tipo de Estatuto Genético</a>
</p>
<div class="col-md-10">
<table class="table">
    <thead>
        <tr>
            <th>
                OGNM
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEstatutoGeneticocol)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoEstatutoGenetico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoEstatutoGenetico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoEstatutoGenetico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Outras Configurações:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="TOrigems" asp-action="Index">Tipo de Origem</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Tipoestatutogeneticos" asp-action="Index">Tipo de Estatutos Genéticos</a></li>
    </ul>
</div>