@model Bioterio.Models.Concelho

@{
    ViewData["Title"] = "Create";
}

<h2>Criar</h2>

<h4>Concelho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeConcelho" class="control-label"></label>
                <input asp-for="NomeConcelho" class="form-control" />
                <span asp-validation-for="NomeConcelho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistritoId" class="control-label"></label>
                <select asp-for="DistritoId" class="form-control" asp-items="ViewBag.DistritoId"></select>
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="Criar" class="btn btn-default" /> | 
                <a type="button" class="btn btn-info" asp-action="Index">Voltar à listagem</a>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-6">
        <ul class="list-group">
            <li class="list-group-item active"><b>Localização:</b></li>
            <li class="list-group-item"><a asp-area="" asp-controller="Concelhos" asp-action="Create">Concelhos</a></li>
            <li class="list-group-item"><a asp-area="" asp-controller="Distritos" asp-action="Create">Distritos</a></li>
            <li class="list-group-item"><a asp-area="" asp-controller="Localcapturas" asp-action="Create">Locais de Captura</a></li>
        </ul>
    </div>
</div>

