@model Bioterio.Models.Localcaptura

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Localcaptura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLocalCaptura" />
            <div class="form-group">
                <label asp-for="Localidade" class="control-label"></label>
                <input asp-for="Localidade" class="form-control" />
                <span asp-validation-for="Localidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistritoId" class="control-label"></label>
                <select asp-for="DistritoId" class="form-control" id="distritoDropDown" asp-items="ViewBag.DistritoId" onchange="getConcelhosList()"></select>
                <span asp-validation-for="DistritoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcelhoId" class="control-label"></label>
                <select asp-for="ConcelhoId" class="form-control" id="concelhoDropDown" asp-items="ViewBag.ConcelhoId"></select>
                <span asp-validation-for="ConcelhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Confirmar" class="btn btn-default" /> |
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        window.onload = function () {
            var v = $("#distritoDropDown").val();
            getConcelhosList(v);
        };
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}