html, body {
    height: 100%;
}

body {
    padding-top: 80px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 160px;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*CCMAR header*/
.navbar {
    min-height: 80px;
    background-color: #fff;
    color: #333;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-nav {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.logo {
    width: 250px;
    height: 80px;
    background-image: url("/images/ccmar_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-nav {
    position: relative;
    left: 50px;
}

.navbar-form {
    margin-top: 23px;
}

footer {
    width: 1170px;
    margin: auto;
}

.footer-container {
    position: absolute;
    bottom: 0px;
    height: 160px;
    left: 0;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #4fa8ae;
}

#tabs {
    padding: 10px;
    border: none;
}

.ui-widget-header {
    font-size: 16px;
    font-weight: 600;
    transition: all linear 0.30s;
    border: none;
    border-bottom: 1px solid #000;
}

.del {
    color: #dd0000;
}

.del.btn {
    color: #fff;
    background-color: #dd0000;
    font-weight: bold;
}

.del.btn:hover {
    background-color: red;
}

dt {
    text-align: left !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: #c5c5c5 !important;
    background-color: #4fa8ae !important;
}






/* CSS Document */


#container {
    margin: 0 auto;
}

nav {
    margin-bottom: 50px;
    background-color: #E64A19;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
}

nav ul li {
    display: inline-block;
    background-color: #4fa8ae;
    margin-right: -3px;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 80px;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover, nav a:visited {
    background-color: #808080;
    color: #fff;
    text-decoration: none;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 80px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li a, nav ul ul ul li a{
    font-size: 14px;
    line-height: 50px;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    border-top: 2px solid white;
    width: 200px;
    font-size: 14px !important;
    float: none;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
    border-top: 2px solid white;
    position: relative;
    top: -60px;
    left: 200px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after {
    content: ' +';
}

li > a:only-child:after {
    content: '';
}