@model Bioterio.Models.TipoManuntecao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Eliminar</h2>

<h3 class="alert alert-danger">
    @if (Model.isDeletable)
    {
        <ul>
            <li> Tem a certeza que pretende Eliminar este Tipo de Manutencao?</li>
        </ul>
        <ul>
            <li id="kk" hidden="hidden">Impossivel eliminar este Tipo de Manutencao!</li>
        </ul>
    }
    else
    {
        <ul>
            <li> Este Tipo de Manutencao não pode ser apagado devido à existencia de Registos associados.</li>
        </ul>
        <ul>
            <li id="kk" hidden="hidden">Impossivel eliminar este Tipo de Manutencao!</li>
        </ul>
    }
</h3>

<div>
    <h4>Tipo de Manuntencao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TManutencao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TManutencao)
        </dd>
    </dl>
    
    @if (Model.isDeletable) {
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTManutencao" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelarar</a>
    </form>
    }
</div>
