@model Bioterio.Models.Finalidade
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3 class="alert alert-danger">
    @if (Model.isDeletable)
    {
        <ul>
            <li> Tem a certeza que pretende Eliminar esta Finalidade?</li>
        </ul>
        <ul>
            <li id="kk" hidden="hidden">Impossivel eliminar este Finalidade!</li>
        </ul>
    }
    else
    {
        <ul>
            <li> Esta Finalidade não pode ser apagada devido à existencia de Registos associados.</li>
        </ul>
        <ul>
            <li id="kk" hidden="hidden">Impossivel eliminar este Finalidade!</li>
        </ul>
    }
</h3>
<div>
    <h4>Finalidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TFinalidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TFinalidade)
        </dd>
    </dl>

    @if (Model.isDeletable)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdFinalidade" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelarar</a>
        </form>
    }
</div>
